



.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1f2937;
    font-size: 48px;
    font-weight: bolder;
    color: #e5e7eb;
    padding-bottom: 128px;
}
.top {
display: flex;
flex-direction: row;
flex: 100%;
margin: 16px 64px;
align-self: center:
}
.links {
    margin-left: auto;
}
.top img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 16px 0px;
}
.heading ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    font-size: 24px;
    color: #e5e7eb;
    gap: 16px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    margin: 16px 64px;
    width: 500px;
}
.hero-text h1 {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}
button {
    border-radius: 15px;
    padding: 8px 16px;
    background-color: #3882f6;
    color:#e5e7eb;
    font-weight: bold;
}
.top-button {
    border-radius: ;
}
.image img{
    height: auto;
    width: 400px;
    padding-right: 64px;
}
.hook p {
    font-size: 18px;
    width: 400px;
    padding-bottom: 0px;
    margin: 0px;
}
.intro {
    display: flex; 
    justify-content: space-around; 
}

.info-container h1 {
    flex: 100%;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 16px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}
.item-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 64px;
}
.items img {
   width: 200px;
   height: 200px;
   border-radius: 15px;
}
.items .text {
    width: 200px;
}
.testimonial {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 32px 64px;
    margin: 0px;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 10%;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 32px 128px;
    border-radius: 15px;
}
.su-head {
    font-size: 32px;
    font-weight: bolder;
    margin: 0px;
}
.su-body {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}
.su-button button{
    border: 2px double #e5e7eb;
    margin: auto 0px;
    align-self: center;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}